#comments-section {
  padding: 2.7vw 0 9vw 0;
  border-bottom: 0.9375vw solid #1a2c02;
}

#comments-section h2.heading {
  width: 19.84vw;
  margin: auto;
  text-align: center;
  border-top: 0.15625vw solid white;
  border-bottom: 0.15625vw solid white;
  font-family: "Monotype Corsiva";
  font-size: 5.47vw;
  color: white;
  font-weight: 100;
  margin-bottom: 3.52vw;
}

#comments-section section:first-of-type {
  width: 54.6vw;
}

#comments-section section:first-of-type > .comment-section ~ .comment-section {
  margin-top: 1.71vw;
}

#comments-section section:first-of-type a.other-comments {
  float: right;
  margin-right: 0.5vw;
  font-family: "Roboto-thin";
  font-size: 1.09vw;
  color: white;
  font-weight: 100;
}

#comments-section section:first-of-type div.comment-section img, #comments-section section:first-of-type div.comment-section div {
  display: inline-block;
}

#comments-section section:first-of-type div.comment-section img {
  width: 25%;
  vertical-align: middle;
  margin-right: 0.86vw;
}

#comments-section section:first-of-type div.comment-section .comment-section-body {
  word-wrap: break-word;
  width: 65.5%;
  padding: 1.09vw 1.875vw 0.625vw 1.72vw;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.6);
}

#comments-section section:first-of-type div.comment-section .comment-section-body h3 {
  font-family: "Monotype Corsiva";
  font-size: 1.875vw;
  color: white;
  font-weight: 100;
  margin-bottom: 1.25vw;
}

#comments-section section:first-of-type div.comment-section .comment-section-body p {
  font-family: "Roboto-thin";
  font-size: 1.41vw;
  color: white;
  font-weight: 100;
  margin-bottom: 0.45vw;
}

.marks-panel {
  float: right;
}

.marks-panel * {
  background-size: cover;
  width: 1.65vw;
  height: 1.95vw;
}

#comments-section section:last-of-type {
  width: 28.51vw;
}

#comments-section section:last-of-type h2 {
  font-family: "Roboto";
  font-size: 1.875vw;
  color: white;
  font-weight: 100;
  margin-bottom: 1.18vw;
}

#comments-section section:last-of-type input, #comments-section section:last-of-type textarea, #comments-section section:last-of-type button {
  width: 100%;
  display: block;
  border: none;
}

#comments-section section:last-of-type input, #comments-section section:last-of-type textarea {
  padding: 1.72vw 0 1.72vw 1.5625vw;
  background: rgba(0, 0, 0, 0.6);
  font-family: "Roboto-thin";
  font-size: 1.41vw;
  color: #a5a6a8;
  font-weight: 100;
}

#comments-section section:last-of-type input::placeholder, #comments-section section:last-of-type textarea::placeholder {
  font-family: "Roboto-thin";
  font-size: 1.41vw;
  color: #a5a6a8;
  font-weight: 100;
  opacity: 1;
}

#comments-section section:last-of-type input:-ms-input-placeholder, #comments-section section:last-of-type textarea:-ms-input-placeholder {
  font-family: "Roboto-thin";
  font-size: 1.41vw;
  color: #a5a6a8;
  font-weight: 100;
}

#comments-section section:last-of-type input::-ms-input-placeholder, #comments-section section:last-of-type textarea::-ms-input-placeholder {
  font-family: "Roboto-thin";
  font-size: 1.41vw;
  color: #a5a6a8;
  font-weight: 100;
}

#comments-section section:last-of-type input:first-of-type {
  margin-bottom: 0.16vw;
}

#comments-section section:last-of-type input:last-of-type {
  margin-bottom: 1.25vw;
}

#comments-section section:last-of-type textarea {
  height: 8vw;
  margin-bottom: 2.1875vw;
}

#comments-section section:last-of-type button {
  font-family: "Roboto-thin";
  font-size: 1.4vw;
  color: white;
  font-weight: 100;
  background: #670202;
  border: 2px solid rgba(0, 0, 0, 0.5);
  display: block;
  width: 14.5vw;
  height: 4vw;
  margin: 2.5vw auto auto;
  cursor: pointer;
}

#comments-section section:last-of-type .mark * {
  display: inline-block;
  vertical-align: middle;
}

#comments-section section:last-of-type .mark h3 {
  font-family: "Roboto";
  font-size: 1.875vw;
  color: white;
  font-weight: 100;
}

#comments-section section:last-of-type .mark .marks-panel * {
  width: 2.3vw;
  height: 2.73vw;
  background-repeat: no-repeat;
  background-size: cover !important;
  cursor: pointer;
}
