.comments-footer-wrapper {
  background-image: url("../img/comments-section/comments-section-main-banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
