@font-face {
    font-family: 'Monotype Corsiva';
    src: url('../fonts/MTCORSVA.TTF') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: "Times New Roman";
    src: url("../fonts/times_new_roman.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-thin";
    src: url("../fonts/Roboto-Thin.ttf") format('truetype');
}