footer {
  background: rgba(0, 0, 0, 0.8);
  font-family: "Roboto-thin";
  font-size: 1.41vw;
  color: white;
  font-weight: 100;
  border-bottom: 0.9375vw solid #ff0000;
}

footer .wrapper {
  display: flex;
  padding-top: 2.65vw;
}

footer .wrapper .vertical-separator {
  border-left: 1px solid #444141;
  height: 17vw;
  margin-top: 2.07vw;
  padding: 0;
}

footer .wrapper .contacts {
  width: 30%;
  padding-right: 3.125vw;
}

footer .wrapper .contacts h3 {
  padding-bottom: 4.375vw;
}

footer .wrapper .contacts p:first-of-type {
  padding-bottom: 1.875vw;
}

footer .wrapper .contacts p:nth-child(2n-1) {
  padding-bottom: 3.75vw;
}

footer .wrapper .contacts .working-time {
  padding-bottom: 1.2vw;
}

footer .wrapper .contacts p {
  display: flex;
  justify-content: space-between !important;
}

footer .wrapper .contacts p span:first-of-type {
  padding-right: 0.9375vw;
}

footer .wrapper .nav-list {
  width: 14%;
  font-family: "Roboto";
  font-size: 1.5vw;
  color: white;
  font-weight: 100;
  text-align: center;
}

footer .wrapper .nav-list li {
  padding: 1.5vw 0;
}

footer .wrapper .nav-list li:first-of-type {
  padding-top: 0;
}

footer .wrapper .follow {
  text-align: center;
  width: 21.7%;
}

footer .wrapper .follow p {
  padding: 5.47vw 0 3.9vw 0;
  font-size: 2.5vw;
}

footer .wrapper .follow p a:nth-child(2n) {
  padding: 0 2.34vw 0 2.34vw;
}

footer .wrapper .follow .app-store {
  display: block;
  padding-bottom: 2.34vw;
}

footer .wrapper .address {
  padding-left: 2.34vw;
  width: 25.5%;
}

footer .wrapper .address h3 {
  padding-bottom: 2.5vw;
}

footer .wrapper .address p {
  width: 25vw;
  padding-bottom: 1.5625vw;
}

footer .wrapper .address p a {
  text-decoration: underline;
}

footer .wrapper .address iframe {
  width: 25vw;
  height: 14vw;
  padding-bottom: 3.51vw;
}
