#gallery {
  clear: both;
  padding: 5.7vw 0;
  background-image: url("../img/gallery/gallery-main-banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#gallery .wrapper {
  display: flex;
  flex-wrap: wrap;
}

#gallery .wrapper div {
  background-size: cover !important;
  height: 16.17vw;
  width: 25%;
  font-family: "Monotype Corsiva";
  font-size: 2.81vw;
  color: white;
  font-weight: 100;
  text-align: center;
}

#gallery .wrapper div.big-block1, #gallery .wrapper div.big-block2 {
  width: 50%;
}

#gallery .wrapper div.big-block1 {
  box-sizing: border-box;
  font-size: 6.1vw;
}

#gallery .wrapper div.big-block1 h2 {
  width: 100%;
  margin-top: 6.5vw;
}

#gallery .wrapper div.big-block1 span:first-of-type {
  color: #123b00;
}

#gallery .wrapper div.big-block1 span:nth-child(2) {
  font-size: 4.4vw;
}

#gallery .wrapper div.big-block1 span:last-of-type {
  color: #670202;
}

#gallery .wrapper div.big-block2 h3 {
  width: 100%;
  font-size: 4.66vw;
  margin-bottom: 7vw;
}

#gallery .wrapper div.empty {
  display: flex;
  align-items: center;
}
