header div.header-top {
  color: white;
  padding-top: 1.5vw;
  background-image: url("../img/header/main-banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header div.header-top div.wrapper div.flex-wrapper-sb nav h1 {
  background: rgba(0, 0, 0, 0.7);
}

header div.header-top div.wrapper div.flex-wrapper-sb nav h1 img {
  width: 15.6vw;
  height: 15.6vw;
}

header div.header-top div.wrapper div.flex-wrapper-sb nav ul {
  background: rgba(0, 0, 0, 0.7);
  font-family: "Roboto";
  font-size: 1.5vw;
  color: white;
  font-weight: 100;
  text-align: center;
}

header div.header-top div.wrapper div.flex-wrapper-sb nav ul li {
  padding: 1.5vw 0;
}

header div.header-top div.wrapper div.flex-wrapper-sb nav ul li:first-of-type a {
  color: #990000 !important;
}

header div.header-top div.wrapper div.flex-wrapper-sb div.right-side {
  width: 80vw;
}

header div.header-top div.wrapper div.flex-wrapper-sb div.right-side div.nav-additional {
  float: right;
  background: rgba(0, 0, 0, 0.6);
  padding: 2vw;
}

header div.header-top div.wrapper div.flex-wrapper-sb div.right-side div.nav-additional a, header div.header-top div.wrapper div.flex-wrapper-sb div.right-side div.nav-additional form {
  display: inline-block;
  vertical-align: middle;
}

header div.header-top div.wrapper div.flex-wrapper-sb div.right-side div.nav-additional a {
  font-size: 2vw;
  padding: 0 10px;
}

header div.header-top div.wrapper div.flex-wrapper-sb div.right-side div.nav-additional form {
  position: relative;
  display: inline-block;
  width: 12.625vw;
}

header div.header-top div.wrapper div.flex-wrapper-sb div.right-side div.nav-additional form input {
  font-family: "Roboto-thin" !important;
  font-size: 1.41vw;
  color: white;
  font-weight: 100;
  font-size: 1.4vw;
  width: 100%;
  border: none;
  background: black;
  color: white;
  height: 35px;
  padding-left: 10px;
}

header div.header-top div.wrapper div.flex-wrapper-sb div.right-side div.nav-additional form input::placeholder {
  font-family: "Roboto-thin";
  font-size: 1.41vw;
  color: white;
  font-weight: 100;
  opacity: 1;
}

header div.header-top div.wrapper div.flex-wrapper-sb div.right-side div.nav-additional form input:-ms-input-placeholder {
  font-family: "Roboto-thin";
  font-size: 1.41vw;
  color: white;
  font-weight: 100;
}

header div.header-top div.wrapper div.flex-wrapper-sb div.right-side div.nav-additional form input::-ms-input-placeholder {
  font-family: "Roboto-thin";
  font-size: 1.41vw;
  color: white;
  font-weight: 100;
}

header div.header-top div.wrapper div.flex-wrapper-sb div.right-side div.nav-additional form button {
  position: absolute;
  top: 9px;
  right: 10px;
  border: none;
  color: white;
  background: black;
}

header div.header-top div.wrapper div.flex-wrapper-sb div.right-side .main-slogan-wrapper {
  background: rgba(0, 0, 0, 0.6);
  width: 51vw;
  margin: 13.75vw 0 0 8vw;
  padding: 1.5vw;
}

header div.header-top div.wrapper div.flex-wrapper-sb div.right-side .main-slogan-wrapper h1 {
  clear: both;
  font-family: "Monotype Corsiva";
  font-size: 6.75vw;
  color: white;
  font-weight: 100;
  text-align: center;
  border: 1px solid white;
}

header div.header-top div.wrapper div.flex-wrapper-sb div.right-side .main-slogan-wrapper h1 p {
  font-family: "Monotype Corsiva";
  font-size: 0.7em;
  color: white;
  font-weight: 100;
}

header div.header-top div.wrapper div#advantages-top-box {
  margin-top: 6vw;
}

div.advantages div {
  width: 25vw;
  height: 15vw;
}

header div.header-top div.wrapper div.advantages div:first-of-type {
  background: rgba(0, 61, 0, 0.5);
}

header div.header-top div.wrapper div.advantages div:nth-child(2n) {
  background: rgba(255, 255, 255, 0.5);
}

header div.header-top div.wrapper div.advantages div:last-of-type {
  background: rgba(204, 0, 0, 0.5);
}

header div.header-bottom {
  background-image: url("../img/header/header-bottom-banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

header div.header-bottom div.advantages {
  font-family: "Roboto";
  font-size: 1.875vw;
  color: white;
  font-weight: 100;
}

header div.header-bottom div.advantages div:first-of-type {
  background: rgba(0, 61, 0, 0.8);
}

header div.header-bottom div.advantages div:nth-child(2n) {
  color: black;
  background: white;
}

header div.header-bottom div.advantages div:last-of-type {
  background: rgba(204, 0, 0, 0.9);
}

header div.header-bottom div.advantages div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header div.header-bottom div.advantages div p {
  width: 60%;
}

header div.header-bottom div.slogan {
  margin-top: 2.7vw;
  padding-bottom: 5.5vw;
}

header div.header-bottom div.slogan div#slogan-container {
  font-family: "Monotype Corsiva";
  font-size: 1.875vw;
  color: white;
  font-weight: 100;
}

header div.header-bottom div.slogan div#slogan-container p:first-of-type {
  margin-top: 4.1vw;
  margin-bottom: 1.875vw;
}

header div.header-bottom div.slogan div#slogan-container p {
  text-align: center;
  width: 23.7vw;
  height: 7.8vw;
}

header div.header-bottom div.slogan div#slogan-container hr {
  width: 60%;
}

header div.header-bottom div.slogan .form-group div.form-top {
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0 0 6vw 37.5vw;
  border-color: transparent transparent #060607 transparent;
}

header div.header-bottom div.slogan .form-group form {
  display: block;
  background: #060607;
  width: 37.5vw;
  padding: 2.8vw 0 2vw 0;
  font-family: "Roboto";
  font-size: 1.5vw;
  color: black;
  font-weight: 100;
}

header div.header-bottom div.slogan .form-group form input {
  display: block;
  margin: auto;
  width: 74.4%;
  height: 2.5vw;
  padding-left: 0.9vw;
}

header div.header-bottom div.slogan .form-group form input:first-of-type {
  margin-bottom: 0.9vw;
}

header div.header-bottom div.slogan .form-group form button {
  cursor: pointer;
  color: white;
  background: #670202;
  border: none;
  display: block;
  width: 14.5vw;
  height: 4vw;
  margin: 1.7vw auto auto;
}
