.flex-wrapper-sa {
  display: flex;
  justify-content: space-around;
}

.flex-wrapper-sb {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 90vw;
  margin: auto;
}

p, h1, h2, h3, h4, ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

a:hover, a:visited:hover {
  color: grey !important;
}
