@media screen and (max-width: 1000px) {
  button#scroll-top {
    width: 25vw;
    height: 7.5vw;
    font-size: 2em !important;
  }
  #header .header-top div.flex-wrapper-sb {
    display: block;
  }
  #header .header-top div.flex-wrapper-sb nav h1 {
    width: 25.6vw;
    height: 25.6vw;
    margin: auto;
  }
  #header .header-top div.flex-wrapper-sb nav h1 img {
    width: 100%;
    height: 25.6vw;
  }
  #header .header-top div.flex-wrapper-sb nav ul {
    margin-top: 2vw;
    display: flex;
    justify-content: space-around;
  }
  #header .header-top div.flex-wrapper-sb nav ul li {
    padding: 3.5vw 0 !important;
  }
  #header .header-top div.flex-wrapper-sb nav ul li a {
    font-size: 2.3em;
  }
  #header .header-top div.flex-wrapper-sb div.right-side {
    display: none;
  }
  #header .header-bottom .advantages div {
    height: 20vw;
  }
  #header .header-bottom .advantages div * {
    font-size: 2.7vw;
  }
  #header .header-bottom .slogan #slogan-container p {
    width: 37.5vw;
    font-size: 2.7vw;
  }
  #header .header-bottom .slogan .form-group form * {
    font-size: 1.5em;
  }
  #menu {
    padding-bottom: 7.5vw !important;
  }
  #menu .wrapper h2 {
    font-size: 7em;
  }
  #menu .wrapper p.style-fix {
    font-size: 2.7em;
  }
  #menu .wrapper ul.flex-wrapper-sb {
    display: block;
  }
  #menu .wrapper ul.flex-wrapper-sb li {
    margin: auto;
    margin-top: 10vw;
    width: 75%;
  }
  #menu .wrapper ul.flex-wrapper-sb li img {
    border-top: 1px solid black;
    border-radius: 50px;
    width: 100%;
    height: 55vw;
    z-index: -10;
  }
  #menu .wrapper ul.flex-wrapper-sb li .info-container {
    margin-top: -37px;
    height: auto;
  }
  #menu .wrapper ul.flex-wrapper-sb li .info-container .short-info {
    height: auto;
  }
  #menu .wrapper ul.flex-wrapper-sb li .info-container .short-info h3 {
    font-size: 3em !important;
  }
  #menu .wrapper ul.flex-wrapper-sb li .info-container .short-info p {
    font-size: 3em !important;
  }
  #menu .wrapper ul.flex-wrapper-sb li .info-container .short-info div * {
    font-size: 2.5em;
  }
  #menu .wrapper a.more-information {
    font-size: 2.3em;
  }
  #gallery .wrapper div.media-none {
    display: none;
  }
  #comments-section .wrapper .flex-wrapper-sb {
    flex-wrap: wrap;
  }
  #comments-section .wrapper .flex-wrapper-sb section:first-of-type {
    width: 100%;
  }
  #comments-section .wrapper .flex-wrapper-sb section:first-of-type .comment-section div h3 {
    font-size: 3.5vw !important;
  }
  #comments-section .wrapper .flex-wrapper-sb section:first-of-type .comment-section div p {
    font-size: 3vw !important;
  }
  #comments-section .wrapper .flex-wrapper-sb section:first-of-type .comment-section div .marks-panel * {
    width: 3.5vw;
    height: 4.2vw;
    background-size: 100% !important;
  }
  #comments-section .wrapper .flex-wrapper-sb section:first-of-type .other-comments {
    font-size: 1.5em;
    margin-right: 3.6vw;
  }
  #comments-section .wrapper .flex-wrapper-sb section:last-of-type {
    margin: auto;
    width: 90%;
    margin-top: 2.34vw;
  }
  #comments-section .wrapper .flex-wrapper-sb section:last-of-type h2 {
    font-size: 5vw;
    margin-bottom: 3.5vw;
  }
  #comments-section .wrapper .flex-wrapper-sb section:last-of-type form input, #comments-section .wrapper .flex-wrapper-sb section:last-of-type form textarea {
    padding: 2vw 0 2vw 1.5625vw;
    font-size: 5vw;
  }
  #comments-section .wrapper .flex-wrapper-sb section:last-of-type form input::placeholder, #comments-section .wrapper .flex-wrapper-sb section:last-of-type form textarea::placeholder {
    opacity: 1;
    font-size: 4vw;
  }
  #comments-section .wrapper .flex-wrapper-sb section:last-of-type form input:-ms-input-placeholder, #comments-section .wrapper .flex-wrapper-sb section:last-of-type form textarea:-ms-input-placeholder {
    font-size: 4vw;
  }
  #comments-section .wrapper .flex-wrapper-sb section:last-of-type form input::-ms-input-placeholder, #comments-section .wrapper .flex-wrapper-sb section:last-of-type form textarea::-ms-input-placeholder {
    font-size: 4vw;
  }
  #comments-section .wrapper .flex-wrapper-sb section:last-of-type form .mark h3 {
    font-size: 2.5em;
  }
  #comments-section .wrapper .flex-wrapper-sb section:last-of-type form .mark .marks-panel * {
    width: 4.5vw;
    height: 5.3vw;
    background-size: 100% !important;
  }
  #comments-section .wrapper .flex-wrapper-sb section:last-of-type form button {
    clear: both;
    margin-top: 5vw;
    width: 50%;
    font-size: 2em;
    height: 7vw;
  }
  footer .wrapper {
    flex-wrap: wrap;
  }
  footer .wrapper > div:not([class=vertical-separator]) {
    width: 100%;
    padding: 2.5vw 0;
    font-size: 3em;
    border-bottom: 1px solid #444141;
  }
  footer .wrapper .vertical-separator {
    display: none;
  }
  footer .wrapper .contacts h3 {
    text-align: center;
  }
  footer .wrapper .contacts p span:first-of-type {
    text-decoration: underline;
  }
  footer .wrapper .nav-list ul li {
    border-bottom: 1px solid #444141;
  }
  footer .wrapper .nav-list ul li a {
    color: grey;
  }
  footer .wrapper .nav-list ul li:last-of-type {
    border: none;
    padding-bottom: 0;
  }
  footer .wrapper .address {
    text-align: center;
    border-bottom: none;
  }
  footer .wrapper .address p {
    margin: auto;
  }
  footer .wrapper .address iframe {
    padding-top: 1.875vw;
    width: 90% !important;
    height: 32.5vw !important;
    margin: auto;
  }
}
