#menu {
  text-align: center;
  padding-bottom: 3.75vw;
  background-image: url("../img/menu/menu-banner.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#menu h2 {
  font-family: "Monotype Corsiva";
  font-size: 5.5vw;
  color: white;
  font-weight: 100;
  padding: 1.5625vw 0 0.78125vw 0;
}

#menu p.style-fix {
  font-family: "Roboto-thin";
  font-size: 2.8vw;
  color: white;
  font-weight: 100;
  width: 56.25%;
  padding: 2.18vw 0;
  margin: auto;
  border-top: 0.15vw solid #ffffff;
  border-bottom: 0.15vw solid #ffffff;
}

#menu ul {
  list-style-type: none;
  margin: 5vw 0 0;
  padding-bottom: 1.5vw;
}

#menu ul li {
  width: 26.7vw;
}

#menu ul li img {
  width: 100%;
  height: 25.5vw;
}

#menu ul li div.info-container {
  margin-top: -4px;
  height: 10.2vw;
  background: white;
}

#menu ul li div.info-container div.short-info {
  height: inherit;
  background-color: inherit;
  width: 90%;
  margin: auto;
  position: relative;
  top: -2.34vw;
}

#menu ul li div.info-container div.short-info h3 {
  width: 60%;
  margin: auto auto 1.17vw;
  border-bottom: 0.15vw solid #660000;
  font-family: "Roboto";
  font-size: 2.8vw;
  color: #333300;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

#menu ul li div.info-container div.short-info p {
  font-family: "Times New Roman";
  font-size: 1.875vw;
  color: black;
  font-weight: 100;
  margin-bottom: 0.93vw;
}

#menu ul li div.info-container div.short-info div span {
  font-family: "Monotype Corsiva";
  font-size: 1.875vw;
  color: #ff6600;
  font-weight: 100;
}

#menu ul li div.info-container div.short-info div a {
  font-family: "Roboto";
  font-size: 1.41vw;
  color: #ff0000;
  font-weight: 100;
}

#menu a.more-information {
  float: right;
  border-bottom: 0.07vw solid white;
  font-family: "Roboto-thin";
  font-size: 1.875vw;
  color: white;
  font-weight: 100;
}
