#scroll-top {
  font-family: "Roboto" !important;
  font-size: 1.875vw !important;
  color: red !important;
  font-weight: 100;
  color: red;
  width: 10vw;
  border: 2px solid rgba(255, 0, 0, 0.7);
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 30px;
  right: 3.125vw;
  cursor: pointer;
  display: none;
  color: #333;
  font-family: verdana;
  font-size: 11px;
  z-index: 1000;
}
