@import "mixins.sass"

#comments-section
     padding: 2.7vw 0 9vw 0
     border-bottom: 0.9375vw solid #1a2c02
     h2.heading
          width: 19.84vw
          margin: auto
          text-align: center
          border-top: 0.15625vw solid white
          border-bottom: 0.15625vw solid white
          +font("Monotype Corsiva", 5.47vw, white, 100)
          margin-bottom: 3.52vw
     section:first-of-type
          width: 54.6vw
 
          & > .comment-section ~ .comment-section
               margin-top: 1.71vw

          a.other-comments
               float: right
               margin-right: 0.5vw
               +font("Roboto-thin", 1.09vw, white, 100)

          div.comment-section
               img, div
                    display: inline-block
               img 
                    width: 25%
                    vertical-align: middle
                    margin-right: 0.86vw
               .comment-section-body
                    word-wrap: break-word
                    width: 65.5%
                    padding: 1.09vw 1.875vw 0.625vw 1.72vw
                    vertical-align: middle
                    background: rgba(0, 0, 0, 0.6)
                    h3
                         +font("Monotype Corsiva", 1.875vw, white, 100)
                         margin-bottom: 1.25vw
                    p
                         +font("Roboto-thin", 1.41vw, white, 100)
                         margin-bottom: 0.45vw                         
                    @at-root .marks-panel
                         float: right
                         *
                              background-size: cover
                              width: 1.65vw
                              height: 1.95vw

     section:last-of-type
          width: 28.51vw
          h2
               +font("Roboto", 1.875vw, white, 100)
               margin-bottom: 1.18vw
          input, textarea, button
               width: 100%
               display: block
               border: none
          input, textarea
               padding: 1.72vw 0 1.72vw 1.5625vw
               background: rgba(0, 0, 0, 0.6)
               +font("Roboto-thin", 1.41vw, #a5a6a8, 100)

               &::placeholder  /* Chrome, Firefox, Opera, Safari 10.1+ */
                    +font("Roboto-thin", 1.41vw, #a5a6a8, 100)
                    opacity: 1   //Firefox 
               &:-ms-input-placeholder /* Internet Explorer 10-11 */
                    +font("Roboto-thin", 1.41vw, #a5a6a8, 100)
               &::-ms-input-placeholder /* Microsoft Edge */
                    +font("Roboto-thin", 1.41vw, #a5a6a8, 100)
          input:first-of-type
               margin-bottom: 0.16vw
          input:last-of-type
               margin-bottom: 1.25vw
          textarea
               height: 8vw
               margin-bottom: 2.1875vw
          button
               +font('Roboto-thin', 1.4vw, white, 100)
               background: #670202
               border: 2px solid rgba(0, 0, 0, 0.5)
               display: block
               width: 14.5vw
               height: 4vw
               margin: 2.5vw auto auto
               cursor: pointer
          .mark
               *
                    display: inline-block
                    vertical-align: middle
               h3
                    +font("Roboto", 1.875vw, white, 100)
               .marks-panel
                    *
                         width: 2.3vw
                         height: 2.73vw
                         background-repeat: no-repeat
                         background-size: cover !important
                         cursor: pointer