@import "mixins.sass"

footer
	background: rgba(0, 0, 0, 0.8)
	+font("Roboto-thin", 1.41vw, white, 100)
	border-bottom: 0.9375vw solid #ff0000
	.wrapper
		display: flex
		padding-top: 2.65vw

		.vertical-separator
			border-left: 1px solid #444141
			height: 17vw
			margin-top: 2.07vw
			padding: 0
		.contacts
			width: 30%
			padding-right: 3.125vw
			h3
				padding-bottom: 4.375vw

			p:first-of-type
				padding-bottom: 1.875vw

			p:nth-child(2n-1)
				padding-bottom: 3.75vw

			.working-time
				padding-bottom: 1.2vw

			p
				display: flex
				justify-content: space-between !important
				span:first-of-type
					padding-right: 0.9375vw
		// padding-right: 2.96vw
		.nav-list
			width: 14%
			+font("Roboto", 1.5vw, white, 100) // 20px on 1280px width
			text-align: center
			li
				padding: 1.5vw 0 // 20px on 1280px width
			li:first-of-type
				padding-top: 0
		.follow
			text-align: center
			width: 21.7% //15.48 without padding
			p
				padding: 5.47vw 0 3.9vw 0
				font-size: 2.5vw
				a:nth-child(2n)
					padding: 0 2.34vw 0 2.34vw

			.app-store
				display: block
				padding-bottom: 2.34vw
		// padding: 0 2.98vw
		.address
			h3
				padding-bottom: 2.5vw
			p
				width: 25vw
				padding-bottom: 1.5625vw
				a
					text-decoration: underline

			padding-left: 2.34vw
			width: 25.5%
			iframe
				width: 25vw
				height: 14vw
				padding-bottom: 3.51vw