@import "mixins.sass"
#gallery
    clear: both
    padding: 5.7vw 0
    +background-image("../img/gallery/gallery-main-banner.jpg", center center, cover, no-repeat, fixed)
    .wrapper
        display: flex
        flex-wrap: wrap
        div
            background-size: cover !important
            height: 16.17vw
            width: 25%
            +font("Monotype Corsiva", 2.81vw, white, 100)
            text-align: center
        div.big-block1, div.big-block2
            width: 50%
        div.big-block1
            box-sizing: border-box
            font-size: 6.1vw
            h2
                width: 100%
                margin-top: 6.5vw
            span:first-of-type
                color: #123b00
            span:nth-child(2)
                font-size: 4.4vw
            span:last-of-type
                color: #670202
        div.big-block2
            h3
                width: 100%
                font-size: 4.66vw
                margin-bottom: 7vw
        div.empty
            display: flex
            align-items: center



