@import "mixins.sass"


header
    div.header-top
        color: white
        padding-top: 1.5vw //20px on 1280px width
        +background-image("../img/header/main-banner.jpg", center center, cover, no-repeat, fixed )
        div.wrapper
            div.flex-wrapper-sb
                nav
                    h1
                        background: rgba(0, 0, 0, 0.7)
                        img
                            width: 15.6vw //200px on 1280px width
                            height: 15.6vw //200px on 1280px width
                    ul
                        background: rgba(0, 0, 0, 0.7)
                        +font("Roboto", 1.5vw, white, 100) // 20px on 1280px width
                        text-align: center
                        li
                            padding: 1.5vw 0 // 20px on 1280px width
                        li:first-of-type a
                            color: #990000 !important
                div.right-side
                    width: 80vw
                    div.nav-additional
                        float: right
                        background: rgba(0, 0, 0, 0.6)
                        padding: 2vw //25px on 1280px width
                        a, form
                            display: inline-block
                            vertical-align: middle
                        a
                            font-size: 2vw
                            padding: 0 10px
                        form
                            position: relative
                            display: inline-block
                            width: 12.625vw
                            input
                                +font("Roboto-thin" !important, 1.41vw, white, 100)

                                &::placeholder  /* Chrome, Firefox, Opera, Safari 10.1+ */
                                    +font("Roboto-thin", 1.41vw, white, 100)
                                    opacity: 1   //Firefox 
                                &:-ms-input-placeholder /* Internet Explorer 10-11 */
                                    +font("Roboto-thin", 1.41vw, white, 100)
                                &::-ms-input-placeholder /* Microsoft Edge */
                                    +font("Roboto-thin", 1.41vw, white, 100)

                                font-size: 1.4vw
                                width: 100%
                                border: none
                                background: black
                                color: white
                                height: 35px
                                padding-left: 10px
                            button
                                position: absolute
                                top: 9px
                                right: 10px
                                border: none
                                color:  white
                                background: black
                    .main-slogan-wrapper
                        background: rgba(0, 0, 0, 0.6)
                        width: 51vw
                        margin: 13.75vw 0 0 8vw
                        padding: 1.5vw
                        h1
                            clear: both
                            +font("Monotype Corsiva", 6.75vw, white, 100)
                            text-align: center
                            border: 1px solid white
                            p
                                +font("Monotype Corsiva", 0.7em, white, 100)
            div#advantages-top-box
                margin-top: 6vw
            @at-root div.advantages
                div
                    width: 25vw
                    height: 15vw
            div.advantages
                div:first-of-type
                    background: rgba(0, 61, 0, 0.5)
                div:nth-child(2n)
                    background: rgba(255, 255, 255, 0.5)
                div:last-of-type
                    background: rgba(204, 0, 0, 0.5)


    div.header-bottom
        +background-image("../img/header/header-bottom-banner.jpg", center center, cover, no-repeat, scroll )
        div.advantages
            +font("Roboto", 1.875vw, white, 100)
            div:first-of-type
                background: rgba(0, 61, 0, 0.8)
            div:nth-child(2n)
                color: black
                background: rgba(255, 255, 255, 1)
            div:last-of-type
                background: rgba(204, 0, 0, 0.9)
            div
                display: flex
                justify-content: center
                align-items: center
                text-align: center
                p
                    width: 60%
        div.slogan
            margin-top: 2.7vw
            padding-bottom: 5.5vw
            div#slogan-container
                +font("Monotype Corsiva", 1.875vw, white, 100)
                p:first-of-type
                    margin-top: 4.1vw
                    margin-bottom: 1.875vw
                p
                    text-align: center
                    width: 23.7vw
                    height: 7.8vw
                hr
                    width: 60%
            .form-group
                div.form-top
                    height: 0
                    width: 0
                    border-style: solid
                    border-width: 0 0 6vw 37.5vw
                    border-color: transparent transparent #060607 transparent
                form
                    display: block
                    background: #060607
                    width: 37.5vw
                    padding: 2.8vw 0 2vw 0
                    +font("Roboto", 1.5vw, black, 100)
                    input
                        display: block
                        margin: auto
                        width: 74.4%
                        height: 2.5vw
                        padding-left: 0.9vw
                    input:first-of-type
                        margin-bottom: 0.9vw
                    button
                        cursor: pointer
                        color: white
                        background: #670202
                        border: none
                        display: block
                        width: 14.5vw
                        height: 4vw
                        margin: 1.7vw auto auto

