@media screen and ( max-width: 1000px)
     
     button#scroll-top
          width: 25vw
          height: 7.5vw
          font-size: 2em !important

     //header
     #header
          .header-top
               div.flex-wrapper-sb
                    display: block
                    nav 
                         h1
                              width: 25.6vw
                              height: 25.6vw
                              margin: auto 
                              img
                                   width: 100%
                                   height: 25.6vw
                         ul
                              margin-top: 2vw
                              display: flex
                              justify-content: space-around
                              li
                                   padding: 3.5vw 0 !important
                                   a 
                                        font-size: 2.3em
                    div.right-side
                         display: none
          .header-bottom
               .advantages
                    div
                         height: 20vw
                         *
                              font-size: 2.7vw
               .slogan
                    #slogan-container
                         p
                              width: 37.5vw
                              font-size: 2.7vw
                    .form-group
                         form
                              *
                                   font-size: 1.5em 
                                                  
     //menu
     #menu
          padding-bottom: 7.5vw !important
          .wrapper
               h2
                    font-size: 7em
               p.style-fix
                    font-size: 2.7em

               ul.flex-wrapper-sb
                    display: block
                    li
                         margin: auto
                         margin-top: 10vw
                         width: 75%
                         img
                              border-top: 1px solid black
                              border-radius: 50px
                              width: 100%
                              height: 55vw
                              z-index: -10
                         .info-container
                              margin-top: -37px
                              height: auto
                              .short-info
                                   height: auto
                                   
                                   h3
                                        font-size: 3em !important
                                   p
                                        font-size: 3em !important
                                   div
                                        *
                                             font-size: 2.5em
               
               a.more-information
                    font-size: 2.3em

     //gallery
     #gallery
          .wrapper
               div.media-none
                    display: none

     //comments
     #comments-section
          .wrapper
               .flex-wrapper-sb
                    flex-wrap: wrap
                    section:first-of-type
                         width: 100%
                         .comment-section
                              div
                                   h3
                                        font-size: 3.5vw !important
                                   p
                                        font-size: 3vw !important
                                   .marks-panel
                                        *
                                             width: 3.5vw
                                             height: 4.2vw 
                                             background-size: 100% !important
                         .other-comments
                              font-size: 1.5em
                              margin-right: 3.6vw

                    section:last-of-type
                         margin: auto
                         width: 90%
                         margin-top: 2.34vw
                         h2
                              font-size: 5vw
                              margin-bottom: 3.5vw
                         form
                              input, textarea
                                   padding: 2vw 0 2vw 1.5625vw
                                   font-size: 5vw
                                   &::placeholder  /* Chrome, Firefox, Opera, Safari 10.1+ */
                                        opacity: 1   //Firefox 
                                        font-size: 4vw
                                   &:-ms-input-placeholder /* Internet Explorer 10-11 */
                                        font-size: 4vw                                        
                                   &::-ms-input-placeholder /* Microsoft Edge */
                                        font-size: 4vw
                              .mark
                                   h3 
                                        font-size: 2.5em
                                   .marks-panel
                                        *
                                             width: 4.5vw
                                             height: 5.3vw 
                                             background-size: 100% !important
                              button
                                   clear: both
                                   // margin: auto !important
                                   margin-top: 5vw 
                                   width: 50%
                                   font-size: 2em
                                   height: 7vw

     // footer
     footer
          .wrapper
               flex-wrap: wrap
               & > div:not([class=vertical-separator])
                    width: 100%
                    padding: 2.5vw 0
                    font-size: 3em
                    border-bottom: 1px solid #444141
               .vertical-separator
                    display: none
               .contacts
                    h3
                         text-align: center
                    p
                         span:first-of-type
                              text-decoration: underline
               .nav-list
                    ul
                         li
                              border-bottom: 1px solid #444141
                              a
                                   color: grey
                         li:last-of-type
                              border: none
                              padding-bottom: 0
               .address
                    text-align: center
                    border-bottom: none
                    p
                         margin: auto   
                    iframe
                         padding-top: 1.875vw 
                         width: 90% !important
                         height: 32.5vw !important
                         margin: auto
