@import "mixins.sass"
    
#menu
    text-align: center
    padding-bottom: 3.75vw
    +background-image("../img/menu/menu-banner.png", center center, cover, no-repeat, fixed)
    h2
        +font('Monotype Corsiva', 5.5vw, white, 100)
        padding: 1.5625vw 0 0.78125vw 0
    p.style-fix //TODO: change illegal class name
        +font('Roboto-thin', 2.8vw, white, 100)
        width: 56.25%
        padding: 2.18vw 0
        margin: auto
        border-top: 0.15vw solid #ffffff
        border-bottom: 0.15vw solid #ffffff
    ul
        list-style-type: none
        margin: 5vw 0 0
        padding-bottom: 1.5vw
        li
            width: 26.7vw
            //margin-bottom: 15px
            img 
                width: 100%
                height: 25.5vw
            div.info-container
                margin-top: -4px
                height: 10.2vw
                background: white
                div.short-info
                    height: inherit
                    background-color: inherit
                    width: 90%
                    margin: auto
                    position: relative
                    top: -2.34vw
                    h3
                        width: 60%
                        margin: auto auto 1.17vw
                        border-bottom: 0.15vw solid #660000
                        +font("Roboto", 2.8vw, #333300, 100)
                        font-family: 'Roboto', sans-serif
                    p
                        +font("Times New Roman", 1.875vw, black, 100)
                        margin-bottom: 0.93vw
                    div
                        //TODO: change flex on ff-wrapper
                        span
                            +font("Monotype Corsiva", 1.875vw, #ff6600, 100)
                        a
                            +font("Roboto", 1.41vw, #ff0000, 100)

    a.more-information
        float: right
        border-bottom: 0.07vw solid white
        +font("Roboto-thin", 1.875vw, white, 100)



            