=font($family, $size, $color, $weigth) 
	font-family: $family
	font-size: $size
	color: $color
	font-weight: $weigth

=background-image($url, $position, $size, $repeat, $attachment)
	background-image: url($url)
	background-position: $position
	background-size: $size
	background-repeat: $repeat
	background-attachment: $attachment